/* ABOUT PAGE */
h3[data-tag="top-about-empty-space"] {
  margin-bottom: 34px;
}
.about-main-container {
  text-align: justify;
  background: linear-gradient(to bottom , rgb(178, 187, 184), rgb(123, 207, 182));
}

.about-main-container p {
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40px;
  background-color: rgb(219, 205, 218);
  border: 1px solid #ff00f2;
  border-radius: 15px;
  font-family: monospace;
  /* font-size: 20px; */
}
h2[data-tag="about"],
h3[data-tag="title"],
h6[data-tag="title"] {
  text-align: center; /* Center the heading */
}
