/* ABOUT PAGE */
h3[data-tag="top-about-empty-space"] {
  margin-bottom: 34px;
}
.banner-container-about{
  /* margin-top: 34px; */
  position: relative;
  height: 200px; /* Set the desired height of your banner */
  overflow: hidden;
}

 h3[data-tag="title"] {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%); /* Center the text */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 144);
  z-index: 1; /* Ensure the text is on top of the image */
}
h6[data-tag="title"] {
  /* position: absolute; */
  /* top: 70%; */
  /* left: 45%; */
  /* transform: translate(-50%, -50%); Center the text */
 
  font-size: 20px;
  color: rgb(0, 0, 144);
  z-index: 1; /* Ensure the text is on top of the image */
}

.about-main-container {
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom , rgb(178, 187, 184), rgb(123, 207, 182));
}

.about-main-container p {
  padding: 20px;
  padding-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: rgb(219, 205, 218);
  border: 1px solid #ff00f2;
  border-radius: 15px;
  font-family: monospace;
  /* font-size: 20px; */
}
h2[data-tag="about"],
h3[data-tag="title"],
h6[data-tag="title"] {
  text-align: center; /* Center the heading */
}
/* .handmade{
  font-size: larger;
  padding: 3px;
}
.anti-anxiety{
font-style: italic;
font-size: 18px;
padding: 3px;
}

.jewelry{
color: rgb(0, 0, 68);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 3px;
}

.made-in{
font-family: monospace;
font-size: 18px;
font-weight: bold;
padding: 3px;
}

.from-natural{
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
}
  .noble-metals{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 3px;
} */

/* @media (min-width: 500px)  */
/* and (max-width: 768px) */
/* {  */
  
/* } */
@media (min-width: 760px) 
/* and (max-width: 768px) */
{ 
  
}
@media (min-width: 1160px) 
/* and (max-width: 768px) */
{ 
  
}

/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
  h3[data-tag="top-about-empty-space"] {
    margin-bottom: 24px;
  }
  h3[data-tag="title"]  {
    font-size: 50px; 
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
/* and (max-width: 900px)  */
{
  

  h3[data-tag="title"]  {
    font-size: 60px; 
  }
 
}
/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) 
/* and (max-width: 1160px)  */
{

  h3[data-tag="title"]  {
    font-size: 67px; 
  }
 
}
/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) { 
  
 }

/* Extra large devices (wider screens, 1920px and up) */
@media (min-width: 1920px) { 
  
 }