.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-item {
    margin-bottom: 20px;
  }
  .product-form {
    margin-top: 40px;
  }
  input,
textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ff00f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #fc50ff;
}