.dashboard-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom , rgb(178, 187, 184), rgb(123, 207, 182));
}

.dashboard-order-container {
  /* border: 1px solid #c88888; */
  max-width: 400px;
  margin: 2px;
  padding: 2px;
}

.dashboard-add-new-container,
.dashboard-inner-separate-order-container {
  border: 2px solid #c88888;
  /* margin: 2px; */
  padding: 8px;
  background-color: rgb(219, 205, 218);
  border-radius: 15px;
  max-width: 600px;
}
.dashboard-add-new-container{
  margin-bottom: 20px;
}
.dashboard-inner-separate-order-container p{
   /*space between paragraph lines  */
  margin: 0px;
  font-size: 0.7rem;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.order-list {
  list-style-type: none;
  padding: 0;
}

h3 {
  font-size: 20px;
  /* margin-bottom: 20px; */
  margin-top: 45px;
}

.order-item {
  margin-bottom: 20px;
}

.product-form {
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ff00f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #fc50ff;
}
