.faq-main-container{
    text-align: justify;
  background: linear-gradient(to bottom , rgb(178, 187, 184), rgb(123, 207, 182));
  margin-top: 30px;
  margin-bottom: 40px;
}
.faq-main-container p{
padding: 10px;
  margin-left: 5%;
  margin-right: 10%;
  background-color: rgb(219, 205, 218);
  border: 1px solid #ff00f2;
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
}
.faq-main-container h2{
    text-align: center; 
    padding: 8px;
}
.faq-main-container h3{
    padding: 5px;
}