/* NAV BAR */
.navigation-bar {
  background-color: #ff9494;
  opacity: 75%;
  /* padding: 4px; */
  /* padding-right: 20px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 34px;
  font-weight: bold;
  width: 100%; /* Take up the full width */
  display: flex;
  justify-content:flex-start;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.navigation-bar a {
  color: rgb(73, 0, 64);
  margin-right: 10px;
  text-decoration: none;
  font: 20px;
  padding: 5px;
}
.navigation-bar a:hover {
  color: rgb(255, 255, 255);
  /* opacity: 70%; */
}
/* top-right icon */
.product-cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 4px;
  margin-right: 20px;
  background-color: rgb(220, 236, 255);
  text-decoration: none;
  border-style: none;
  border-radius: 30px;
}
.product-cart:hover {
  background-color: rgb(200, 236, 255);
}
.cart-icon-svg {
  width: 2rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  position: absolute;
  margin-bottom: 5px;
  padding-bottom: 2px;
  /* for cart location */
  transform: translate(-35%, 5%);
}
/* this is top-left icon */
.filter-category-dropdown {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background-color: #ff9494; 
}
.ruby-svg {
  width: 36px;
  height: 42px;
}
.filter-category-dropdown:hover{
  background-color: #fa464f;
  width: 60px;
}

.inside-cart-number-products {
  position: relative;
  top: 3;
  /* left: 0; */
  /* border-style: solid  1px; */
  border-radius: 20px;
  background-color: red;
  opacity: 95%;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(-55%, -35%);
  font-size: 15px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .navigation-bar {
    max-width: 100%;
    font-size: 32px;
  }
  .navigation-bar a {
    /* max-width: 80%; */
    padding: 2px;
    margin: 2px;
  }
  .ruby-svg {
    width: 32px;
    height: 34px;
  }
  
}