/* NAV BAR */
.navigation-bar {
  background-color: #ff9494;
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 34px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Adjusted alignment */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
  padding: 0 20px;   /* Added horizontal padding */
}

.navigation-bar a {
  color: rgb(73, 0, 64);
  text-decoration: none;
  font-size: 40px; /* Adjusted font size */
  /* padding: 5px; */
}

.navigation-bar a:hover {
  color: rgb(255, 255, 255);
}

/* top-right icon */
.product-cart {
  position: relative; /* Changed to relative */
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(220, 236, 255);
  text-decoration: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-cart:hover {
  background-color: rgb(200, 236, 255);
}

.cart-icon-svg {
  width: 2rem;
  height: 1.8rem;
}

/* this is top-left icon */
.filter-category-dropdown {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background-color: #ff9494;
}

.ruby-svg {
  width: 36px;
  height: 42px;
}

.filter-category-dropdown:hover {
  background-color: #fa464f;
}

.inside-cart-number-products {
  position: absolute;
  top: -5px; /* Adjusted positioning */
  right: -5px; /* Adjusted positioning */
  border-radius: 50%;
  background-color: red;
  opacity: 95%;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styling */
@media (max-width: 400px) {
  .navigation-bar {
    font-size: 20px; /* Adjusted font size */
    padding: 0 6px; /* Adjusted horizontal padding */
  }
  .navigation-bar a {
    font-size: 26px;
    padding: 2px; 
  }

  .ruby-svg {
    width: 26px;
    height: 26px;
  }

  .product-cart {
    width: 2rem; /* Adjusted width */
    height: 2rem; /* Adjusted height */
  }

  .cart-icon-svg {
    width: 1.6rem; /* Adjusted width */
    height: 1.5rem; /* Adjusted height */
  }

  .inside-cart-number-products {
    width: 1rem; /* Adjusted width */
    height: 1rem; /* Adjusted height */
    font-size: 12px; /* Adjusted font size */
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .navigation-bar {
    font-size: 20px; /* Adjusted font size */
    padding: 0 6px; /* Adjusted horizontal padding */
  }
  .navigation-bar a {
    font-size: 30px;
    padding: 2px;
    
  }

  .ruby-svg {
    width: 30px;
    height: 30px;
  }

  .product-cart {
    width: 2rem; /* Adjusted width */
    height: 2rem; /* Adjusted height */
  }

  .cart-icon-svg {
    width: 1.6rem; /* Adjusted width */
    height: 1.5rem; /* Adjusted height */
  }

  .inside-cart-number-products {
    width: 1rem; /* Adjusted width */
    height: 1rem; /* Adjusted height */
    font-size: 12px; /* Adjusted font size */
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation-bar {
    font-size: 20px; /* Adjusted font size */
    padding: 0 10px; /* Adjusted horizontal padding */
  }
  .navigation-bar a {
    font-size: 36px;
    /* padding: 5px; */
  }

  .ruby-svg {
    width: 36px;
    height: 36px;
  }

  .product-cart {
    width: 2rem; /* Adjusted width */
    height: 2rem; /* Adjusted height */
  }

  .cart-icon-svg {
    width: 1.6rem; /* Adjusted width */
    height: 1.5rem; /* Adjusted height */
  }

  .inside-cart-number-products {
    width: 1rem; /* Adjusted width */
    height: 1rem; /* Adjusted height */
    font-size: 12px; /* Adjusted font size */
  }
}