p[data-tag="type"],
p[data-tag="description"],
p[data-tag="price"] {
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 0px;
}
p[data-tag="type"] {
  font-size: 20px;
  font-family: monospace;
}
p[data-tag="price"] {
  font-size: 14px;
}
