/* SEARCH */
.searchbar {
  margin-top: 46px;
  margin-left: 2px;
  font-family: "Courier New", Courier, monospace;
}
.search-input {
  height: 35px;
  width: 50%;
  border-radius: 5px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(118, 0, 229);
  border-width: 2px;
  background-color: rgb(252, 224, 252);
  margin-bottom: 3px;
}

/* Responsive styling */
@media (max-width: 400px) {
  .searchbar {
    margin-top: 25px;
  }
  .search-input {
    width: 100%;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .searchbar {
    margin-top: 31px;
  }
  .search-input {
    width: 75%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .searchbar {
    margin-top: 36px;
  }
  .search-input {
    width: 50%;
  }
}
