/* SEARCH */
.searchbar {
  margin-top: 46px;
  margin-left: 2px;
  font-family: "Courier New", Courier, monospace;
}
.search-input {
  height: 35px;
  width: 50%;
  border-radius: 5px;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(118, 0, 229);
  border-width: 2px;
  background-color: rgb(252, 224, 252);
  margin-bottom: 3px;
}

/* Responsive styling */
/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
  .searchbar {
    margin-top: 25px;
  }
  .search-input {
    width: 100%;
  }
}

/* @media (min-width: 500px) { */
/* } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
/* and (max-width: 900px)  */{
  .searchbar {
    margin-top: 28px;
  }
  .search-input {
    width: 100%;
  }
}
/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) 
/* and (max-width: 1160px)  */{
  .searchbar {
    margin-top: 40px;
  }
  .search-input {
    width: 50%;
  }
}
/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) { 
  .searchbar {
    margin-top: 52px;
  }
  .search-input {
    width: 50%;
  }
}

/* Extra large devices (wider screens, 1920px and up) */
@media (min-width: 1920px) { 
  .searchbar {
    margin-top: 62px;
  }
  .search-input {
    width: 25%;
  } 
 }