/* SINGLE PRODUCT CARD */
.single-product-card {
  border: 1px solid #f8a3e8;
  padding: 6px;
  margin: 2px;
  max-width: 800px;
  /* width: 100%; */
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 5px;
}
.thumbnail-container {
  /* border: 1px solid #f8a3e8; */
  /* padding: 1px; */
  /* margin: 2px; */
  max-width: 12%;
  display: inline-flex;
  /* width: 100%; */
  /* margin-top: 40px; */
  /* margin-bottom: 50px; */
  /* margin-right: 5px; */
  cursor: pointer;
}
.thumbnail-image {
  border: 1px solid #f8a3e8;
  padding: 1px;
  margin: 10px;
}

.protected-thumbnail-container {
  position: relative;
  display: inline-flex;
  width: 80px;
  height: 80px;
}

.protected-thumbnail-image {
  width: 10px; /* Adjust the width of the thumbnail image */
  /* Maintain aspect ratio */
  height: auto;
  display: block;
}

.delete-button {
  position: absolute;
  top: 1px; /* Adjust the top position of button */
  right: 1px; /* Adjust the right position of button */
  width: 1px; /*Adjust the width */
  padding: 14px;
  height: 34px; /*Adjust the height*/
  font-size: 10px;
  background-color: rgb(247, 0, 255); /*Customize the background color */
  color: white; /*Customize the text color */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1; /* Ensure the delete button appears above the thumbnail image */
}
.outer-container-for-single-product {
  width: 100%;
}
.single-product-card img {
  max-width: 100%;
  height: auto;
  /* margin-bottom: 40px; */
  margin-top: 0px;
}
.single-product-card p {
  margin-bottom: 0px;
  text-align: justify;
  margin: 1px;
}
.prev-btn,
.next-btn,
.add-to-cart-button,
.submit-changes,
.delete-listing,
.image-add,
.show-more,
.show-less {
  /* .single-product-card button { */
  /* background-color: #4caf50;  */
  color: white;
  border: none;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 4px;
  width: 150px;
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 0, 255);
  margin: 6px;
  background-color: rgb(255, 223, 240);
  color: blue;
}
/* targetting add to cart */
.add-to-cart-button {
  font-size: 24px;
  width: 180px;
  font-weight: bold;
  border-width: 3px;
  padding: 8px 12px;
}
.prev-btn,
.next-btn {
  font-size: 12px;
  width: 100px;
}
.single-product-card button:hover {
  background-color: rgb(255, 133, 208);
}
/* Additional styles for the product options */
.single-product-card label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}
.single-product-card select {
  width: 100%;
  padding: 6px;
  /* margin-bottom: 10px; */
}
.goback-icon {
  width: 35px;
  margin: 2px;
  margin-bottom: 4px;
  margin-top: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 133, 208);
  border-radius: 20px;
}
.goback-icon:hover {
  background-color: rgb(255, 133, 208);
  border-radius: 20px;
}

/* EDIT FORM */
.edit-listing {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 0px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
textarea,
select {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
/* button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
} */

/* Additional styles for the additional images */
/* .single-product-card .additional-images { */
/* display: flex; */
/* justify-content: space-between; */
/* margin-bottom: 20px; */
/* } */

/* .single-product-card .additional-images img { */
/* max-width: 30%; */
/* } */

/* Additional styles for the product information section */
/* .single-product-card .product-information { */
/* margin-top: 20px; */
/* } */
/* .add-to-cart-button,
.minus-to-cart-button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 0, 255);
  margin: 6px;
  background-color: rgb(255, 223, 240);
}
.add-to-cart-button:hover,
.minus-to-cart-button:hover{
  background-color: rgb(255, 133, 208);
} */

/* Responsive styling */
@media (max-width: 768px) {
  .single-product-card {
    max-width: 100%;
  }
  .single-product-card img {
    max-width: 90%;
  }
}
