@import url("navbar.css");
@import url("search.css");
@import url("banner.css");
@import url("login.css");
@import url("productsreviews.css");
@import url("footer.css");
@import url("about.css");
@import url("singleproduct.css");
@import url("checkout.css");
@import url("ordersummary.css");

p[data-tag="type"],
p[data-tag="description"],
p[data-tag="price"],
p[data-tag="quantity"],
p[data-tag="total"] {
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 0px;
}
.added-to-cart-container {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(164, 193, 176);
}

.add-to-cart-button,
.minus-to-cart-button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 0, 255);
  margin: 6px;
  background-color: rgb(255, 223, 240);
}
.checkout-shopping-cart {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 0, 255);
  margin: 6px;
  background-color: rgb(255, 223, 240);
  display: inline-block;
  padding: 3px 8px;
  /* background-color: rgb(38, 66, 251); */
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.checkout-shopping-cart:hover {
  background-color: rgb(255, 133, 208);
}
.add-to-inside-cart,
.decrease-inside-cart,
.remove-inside-cart {
  border-style: solid;
  border-width: 0.3px;
  border-color: rgb(247, 0, 255);
  margin: 3px;
  padding: 0px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgb(255, 223, 240);
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .product-card {
    /* Adjust styles for smaller screens */
    /* For example, reduce padding or margin */
    padding: 5px;
    margin: 5px;
    flex: 1 0 calc(50% - 20px); /* Two columns on smaller screens */
  }
  .stuff-inside-products-div {
    flex: 1 0 calc(50% - 20px); /* Two columns on smaller screens */
  }
}
